* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* --------------
    common styles
----------------- */
:root {
  --btn-color: #ff900e;
  --dark-1: #131313;
  --dark-2: #424242;
  --dark-3: #727272;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.section-title {
  font-size: 45px;
  margin-bottom: 24px;
}
.sub-title {
  color: var(--dark-3);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
}
.btn {
  background-color: var(--btn-color);
  border: none;
  padding: 18px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
section {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
img {
  width: 100%;
}
.flex-box {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

/* ----------Header Section Style-------- */

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-top: 50px;
}
.header-title {
  font-size: 65px;
}
nav .nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title h2 {
  font-size: 45px;
}
.nav-title ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
}
.nav-title ul li a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
  color: var(--dark-2);
}
.header-info {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 5px;
  margin-top: 116px;
  margin-bottom: 50px;
}
.header-info .sub-title {
  margin-bottom: 32px;
}
.banner {
  margin-bottom: 50px;
}
/* -----------------
    feature section
------------------- */
.feature {
  max-width: 1105px;
}
.feature-container {
  display: grid;
  align-items: center;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}
.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.feature-title {
  font-weight: 500;
  line-height: 53px;
  font-size: 45px;
}
.dark-color {
  color: var(--dark-3);
}
.primary-color {
  color: var(--btn-color);
}
/* -------------------
     Skill Section
--------------------- */
.skill-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.skill-title{
    border-left: 5px solid #ff900e;
    padding-left: 8px;
    color: #131313;
}
.skill-card{
    max-width: 570px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.skill-card h3{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--dark-1);
}
.skill-card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.myimg{
  position: relative;
  max-width: 580px;
}
.myimg img{
  height: 93%;
}
.overley-btn{
  padding: 33px 9px;
  position: absolute;
  bottom: 6px;
  left: -20px;
}
.overley-btn span{
  font-size: 65px;
}
/* ----------------
    plan section
------------------- */

#plansec{
  background: white;
  margin-top: 300px;
  text-transform: capitalize;
}
.price-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.bnr.planbnr {
  margin-top: -60px;

}
.pricing{
 text-align: center;
 background-color: #f9f9ff;
 padding: 40px 20px;
}
.single-pricebox{
  transition: all 0.3s ease 0s;
  text-align: center;
  border-radius: 5px;
  background-color: #f9f9ff;
  padding: 18px 40px;
}
.pack-no{
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 140px;
  background-color: rgba(132, 144, 255, 0.1);
  border-radius: 100px;
  align-items: center;
  display: grid;
  border: 30px solid rgba(132, 144, 255, 0.1);
  justify-content: center;
  justify-items: center;
}
.mt-10{
  text-transform: capitalize;
  margin-top: 10px;
  padding: 5px 0px;
  border-top: 1px solid #eee;
}
.pack-list{
  padding-bottom: 30px;
  padding-top: 5px;
}
ul.price-ul li {
  list-style: none;
  text-transform: capitalize;
  padding: 10px 0px;
  border-top: 1px solid #eee;
}
ul.price-ul li:last-child{
  border-bottom: 1px solid #eee; ;
}
.top-part h4{
  font-size: 25px;
  margin-top: 5px;
}
.bottom-part{
  transition: all 0.3s ease 0s;
}
.bottom-part a{
  text-decoration:none;
  text-transform: uppercase;
}
.bottom-part .price-btn{
 transition: all 0.3s ease 0s;
 background-color: #fff;
 color: #222;
 padding: 10px 50px;
 font-weight: 600;
 display: inline-block;
 display: none; 
} 
.single-pricebox:hover{
  transform: scale(1.05);
  z-index: 2;
  color: #fff;
  cursor: pointer;
}

#plansec .single-pricebox:hover{
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);

}
#plansec .single-pricebox:hover .pack-no{
  border-color: rgba(255,255,255,0.21);
  background-color: rgba(255,255,255,0.1);
}
#plansec .single-pricebox:hover .bottom-part .price-btn{
  display: block;
}
#plansec .single-pricebox:hover .bottom-part h1{
  display: none;
}
#plansec .single-pricebox:hover .top-part .pack-no{
  color: #fff;
}
#plansec .single-pricebox:hover .top-part h4{
  color: #fff;
}
/* -------------
  facts section
---------------- */
.facts-section .sub-title{
  max-width: 515px;
}
.facts{
  text-align: center;
  display: grid;
  place-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
}
.fact{
  width: 200px;
  border: 1px solid var(--btn-color);
  border-radius: 5px;
  padding: 33px 0px;
  position: relative;
  z-index: 5;
}
.fact p{
  transition: color 0.6s ease;
}
.fact img{
  width: 45px;
}
.fact-num{
  font-size: 45px;
  font-weight: 600;
  color: var(--dark-2);
}
.fact-title{
  color: var(--dark-3);
  font-size: 20px;
}
.overley{
  width: 199px;
  content: "";
  height: 0px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  transition: 0.4s ease;
  background-color: var(--btn-color);
}
.fact:hover .overley{
  height: 191px;
}
.fact:hover p{
  color: #fff;
}

/* ------------
  sponsor section
--------------- */
.sponsor{
  text-align: center;
}
.sponsor .sub-title{
  max-width: 550px;
  margin: auto;
}
.sponsor-logos{
  filter: grayscale(100%);
  margin-top: 50px;
  display: grid;
  justify-items: center;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-logos img{
  width: 153px;
  color: var(--dark-3);
}
/* ----------
  footer section
------------- */
footer{
  text-align: center;
}

.foot-container{
  border-radius: 5px;
  background-color: #FFF4E7;
  margin-top: 30px;
  margin-bottom: 216px;
}
.footer-text{
  padding: 20px;
  color: var(--dark-2);
}
@media screen and (max-width:576px) {
 .feature-container, .skill-container, .price-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .facts, .sponsor-logos{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
  .section-title{
    font-size: 35px;
  }
  .myimg{
    display: none;
  }
  .overley-btn{
    bottom: -30px;
    left: 150px;
  }
  section{
    padding: 10px;
  }
  .nav-title{
    flex-direction: column;
  }
  .header-title{
    font-size: 35px;
  }
  .single-pricebox{
    max-width: 500px;
  }
}